<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<dict>
		<key>deals</key>
		<dict>
			<key>options</key>
			<array>
				<dict>
					<key>display_name</key>
					<string>On</string>
					<key>value</key>
					<string>1</string>
				</dict>
			</array>
			<key>type</key>
			<string>toggle</string>
			<key>display_name</key>
			<string>Deals</string>
		</dict>
		<key>radius_filter</key>
		<dict>
			<key>options</key>
			<array>
				<dict>
					<key>display_name</key>
					<string>Best match</string>
					<key>value</key>
					<string>0</string>
				</dict>
				<dict>
					<key>display_name</key>
					<string>2 blocks</string>
					<key>value</key>
					<string>500</string>
				</dict>
				<dict>
					<key>display_name</key>
					<string>6 blocks</string>
					<key>value</key>
					<string>1500</string>
				</dict>
				<dict>
					<key>display_name</key>
					<string>1 mile</string>
					<key>value</key>
					<string>1609</string>
				</dict>
				<dict>
					<key>display_name</key>
					<string>5 miles</string>
					<key>value</key>
					<string>8046</string>
				</dict>
			</array>
			<key>type</key>
			<string>radio</string>
			<key>display_name</key>
			<string>Distance</string>
		</dict>
		<key>sort</key>
		<dict>
			<key>options</key>
			<array>
				<dict>
					<key>display_name</key>
					<string>Best match</string>
					<key>value</key>
					<string>0</string>
				</dict>
				<dict>
					<key>display_name</key>
					<string>Distance</string>
					<key>value</key>
					<string>1</string>
				</dict>
				<dict>
					<key>display_name</key>
					<string>Highest Rated</string>
					<key>value</key>
					<string>2</string>
				</dict>
			</array>
			<key>type</key>
			<string>radio</string>
			<key>display_name</key>
			<string>Sort by</string>
		</dict>
		<key>category_filter</key>
		<dict>
			<key>options</key>
			<array>
				<dict>
					<key>display_name</key>
					<string>Arcades</string>
					<key>value</key>
					<string>arcades</string>
				</dict>
				<dict>
					<key>display_name</key>
					<string>Art Galleries</string>
					<key>value</key>
					<string>galleries</string>
				</dict>
				<dict>
					<key>display_name</key>
					<string>Botanical Gardens</string>
					<key>value</key>
					<string>gardens</string>
				</dict>
			</array>
			<key>type</key>
			<string>radio</string>
			<key>display_name</key>
			<string>Category</string>
		</dict>
	</dict>
</dict>
</plist>
